body {
    background: black;
    color: white;
    font-family: ‘SUIT’, sans-serif;
}
#visible-4 .card-section .holding-elem { display: block; }
#visible-5 .dice-section .holding-elem { display: block; }
.holding-elem {
    display: none;
    position: fixed;
    font-size: 4rem;
    top: 0; /* 다 따로 지정 */
    left: 0;
}

.section {
    width: 100vw;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.logo-con {
    position: absolute;
    top: 50px;
    left: 50px;
}
.main-svg-con {
    width: 90vw;
}
.main-svg-con .main-svg {
    width: 100%;
}
.timer-con {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    right: 5vw;
    font-size: 5vw;
    text-align: right;
}

.text-section {
    /* height: 100vh; */
}
.text-content {
    padding: 30vw 10vw;
}
.text-content .title {
    font-size: 6rem;
    font-weight: 600;
    margin-right: 20px;
    float: left;
}
.text-content .content {
    font-size: 1.6rem;
    line-height: 3rem;
}

.gallery-section {

}
.gallery-con {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 0;
    justify-content: space-between;
    gap: 5vw;
    padding: 30vw 10vw;
}
.gallery {
    min-width: 200px;
}
.gallery .img-con {
    width: 100%;
}
.gallery .img-con img {
    width: 100%;
}
.gallery .tag-con {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-top: 15px;
}
.gallery .tag-con .tag {
    padding: 6px;
    border: 2px solid white;
    border-radius: 20px;
}

.card-section {
    
}
.card-content {
    display: flex;
    justify-content: space-between;
    padding: 10vw;
}
.card-text-con {
    width: 50%;
}
.card-text-con .card-text {
    padding: 20vw 0;
    font-size: 3rem;
    text-align: center;
}
.card-img-con {
    width: 40vw;
    height: 60vw;
    background-image: url('../src/images/sample.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dice-section {
}
.dice-space {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10vw;
}
.dice {

}
.dice-shape {
    width: 100px;
    height: 100px;
    border: 1px solid white;
}
.dice-shape.dice-front {

}
.dice-shape.dice-behind {

}
.dice-shape.dice-top {

}
.dice-shape.dice-bottom {

}
.dice-shape.dice-right {

}
.dice-shape.dice-left {

}
.dice-text {
}
.field{
    height: 20vh;
    background: linear-gradient(0, #555, black);
}
@media (max-width: 820px){
    .gallery-con {
        flex-flow: row wrap;
    }
}